@import url('https://fonts.googleapis.com/css2?family=Jua&family=Playpen+Sans+Arabic:wght@100..800&family=Poetsen+One&family=Special+Gothic+Expanded+One&family=WDXL+Lubrifont+TC&display=swap');

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

img#background-home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}


div#barra-fit-nome h1 {
    position: absolute;
    color: white;
    font-size:100px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;  
    right: 20%;
    top: 10%; 
    

}

div#barra-fit-nome h2 {
    position: absolute;
    color: white;
    font-size: 90px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal; 
    right: 10%;
    top: 18%;  

}


button#entrar1 {
    position: absolute;
    background-color: #b853ee;
    border: 0;
    padding: 10px 50px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
    z-index: 2;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal; 
    top: 45%;
    left: 80%; 


}
button#cadastre-se1{
    position: absolute;
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 6px 16px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
    z-index: 2; 
    color: white;
    font-size: 25px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    top: 52%;
    left: 80%;
}
button#entrar1:hover{
    transform: scale(1.1);
}
button#cadastre-se1:hover{
    transform: scale(1.1);
}


@media(min-width:380px) and (max-width: 1024px){
div#barra-fit-nome h1 {
    position: absolute;
    color: white;
    font-size:100px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;  
    right: 50%;
    top: 10%; 
    

}

div#barra-fit-nome h2 {
    position: absolute;
    color: white;
    font-size: 90px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal; 
    right: 40%;
    top: 20%;  

}

button#entrar1 {
    position: absolute;
    background-color: #b853ee;
    border: 0;
    padding: 10px 50px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
    z-index: 2;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal; 
    top: 45%;
    left: 20%; 


}
button#cadastre-se1{
    position: absolute;
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 6px 16px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
    z-index: 2; 
    color: white;
    font-size: 25px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    top: 52%;
    left: 20%;
}
}

@media(min-width: 188px) and (max-width: 648px){

    div#barra-fit-nome h1 {
    position: absolute;
    color: white;
    font-size:100px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;  
    left: 0%;
    top: 10%; 
    

}

div#barra-fit-nome h2 {
    position: absolute;
    color: white;
    font-size: 90px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal; 
    left: 0%;
    top: 20%;  

}

button#entrar1 {
    position: absolute;
    background-color: #b853ee;
    border: 0;
    padding: 10px 50px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
    z-index: 2;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal; 
    top: 45%;
    left: 0%; 


}
button#cadastre-se1{
    position: absolute;
    background-color: transparent;
    border: 2px solid #ffffff;
    padding: 6px 16px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
    z-index: 2; 
    color: white;
    font-size: 25px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    top: 52%;
    left: 0%;
}

}