@import url('https://fonts.googleapis.com/css2?family=Jua&family=Playpen+Sans+Arabic:wght@100..800&family=Poetsen+One&family=Special+Gothic+Expanded+One&family=WDXL+Lubrifont+TC&display=swap');

body{
  background-color: #b853ee;
}

img#imagem-fundo-login {
    position: fixed;
    top: 60px;
    left: 100px;
    width: 90%;
    height: 90%;
    margin-right: 0;
    margin-left: 0;
    object-fit:contain; 
    z-index: -1; 
}

div#bloco-branco{
  position: absolute;
  object-fit:cover; 
  background-color: #fff;
  padding: 200px 1px;
  width: 25%;
  left: 300px;
  top: 250px;
  
}

div#textos1 h1{
  position: fixed;
  left: 390px;
  top: 250px;
  color: #fff;
  background-color: #b853ee;
  padding: 3px 90px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;

}
#email {
    position: fixed;
    left: 420px;
    top: 380px;
    width: 10%; 
    padding: 10px; 
    font-size: 16px; 
    border: 2px solid #b853ee; 
    border-radius: 5px; 
    background-color: transparent;
    color: #333;
    outline: none; 
    transition: all 0.3s ease; 
}


#email:focus {
    border-color: #45a049; 
    background-color: #f0f8f0; 
}
form#emaill p{
  position: fixed;
  left: 400px;
  top: 340px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
form#senhha p{
  position: fixed;
  left: 400px;
  top: 420px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#senha {
    position: fixed;
    left: 420px;
    top: 460px;
    width: 10%; 
    padding: 10px; 
    font-size: 16px; 
    border: 2px solid #b853ee; 
    border-radius: 5px; 
    background-color: transparent;
    color: #333;
    outline: none; 
    transition: all 0.3s ease; 
}
button#botao-entrar-login{
  position: fixed;
    background-color: transparent;
    border: 2px solid #000000;
    padding: 6px 40px;
    cursor: pointer;
    left: 430px;
    top: 540px;
    z-index: 2; 
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}